* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: pt-serif, sans-serif;
  font-size: 14px;
}

.layout{
	width : 978px;
}

.layout .header{
	width : 100%;
	height : 90px;
	background-color: #ccc;
	
}

.layout .content{
	
}
