* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width : 1000px;
  position: relative;
  background-color: #bbb;
  font-family : 'Droid Sans', sans-seriff;
}

h1,h2,h3{
	font-weight: normal
}

@font-face{
	font-family:'Droid Sans';
    src: url('droadsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.left{
	float: left;
}

.font-14{
	font-size: 14px;
}

.center{
	text-align: center;
}

.header, .footer{
	background-color : #333;
	color: #bbb;
	padding:10px 20px;
	
}

.container{
	background-color : #fff;
	padding: 20px;
	margin: 10px 0;
	min-height: 500px;
}

.profile::after{
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

.profile .logo{
	width : 25%;
}
.profile .content{
	width : 75%;
}

.projects .proj-head{
	text-decoration: underline;
}
.projects a{
	text-decoration: none;
}

.social .icons a{
	width: 168px;
	padding: 20px;
	margin: 0px 10px;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

.social .icons a:hover{
	background-color: #ccc;
}

.social .icons .icon{
	top: 10px;
	margin-left: 4px;
	border-radius : 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.social a .github{
	background: url('social-sprites.png') no-repeat -456px -129px;
	width: 32px;
	height: 33px;
	position: absolute;
}

.social a .twitter{
	background: url('social-sprites.png') no-repeat -340px -129px;
	width: 33px;
	height: 33px;
	position: absolute;
}

.social a .fb{
	background: url('social-sprites.png') no-repeat -226px -129px;
	width: 33px;
	height: 32px;
	position: absolute;
}

.social a .g-plus{
	background: url('social-sprites.png') no-repeat -169px -129px;
	width: 33px;
	height: 32px;
	position: absolute;
	top: 10px;
	margin-left: 4px;
	border-radius: 50%;
}

.social a .linkedin{
	background: url('social-sprites.png') no-repeat -398px -129px;
	width: 33px;
	height: 33px;
	position: absolute;
}

.footer .copyright{
	float: right;
}

@media only screen and (min-width:320px) and (max-width:480px){
	.profile{
		text-align : center;
	}
	.profile .logo, .profile .content{
		width : 100%;
		margin: auto;
	}
	.profile .content{
		clear : both;
	}
	.social .icons a{
		margin-left: -20px;
	}
}	